Set-Content -Path .gitignore -Value @"
# Visual Studio
.vs/
*.user
*.suo
*.vscode/

# Build
bin/
obj/

# NuGet
packages/
*.nupkg
*.snupkg

# Publish
publish/
PublishProfiles/
wwwroot/lib/

# Test
TestResults/
*.trx
*.coverage
*.coveragexml

# IDE / Editor
.idea/
*.DotSettings

# Log / Temporary
*.log
*.vsidx
Thumbs.db
.DS_Store
*_ReSharper.*
*_JetBrains.*
*.tmp
"@
